body {
    background-color: #282c34;
  }

.Error-header {
    color: #734f96;
    text-align: center;
    font-size: xx-large;
}

.below {
    color: #734f96;
    text-align: center;
    font-size: xx-large;
}
